<div>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="row hidden-xs">
            <div class="container-fluid bg-primary">
                <div class="col-sm-4 zero-left-padding zero-right-padding">
                    <a class="navbar-text pull-left" href="website-list.view.client.html">
                        <span class="glyphicon glyphicon-menu-left header-color-white"></span>
                    </a>
                    <a class="navbar-brand zero-left-padding zero-right-padding" href="#"><span class="header-color-white">Websites</span></a>
                    <p class="navbar-text pull-right">
                        <a href="website-new.view.client.html"><span class="glyphicon glyphicon-plus header-color-white"></span></a>
                    </p>
                </div>
                <div class="col-sm-8 zero-left-padding zero-right-padding">
                    <a class="navbar-brand"><span class="header-color-white">Edit Website</span></a>
                    <p class="navbar-text pull-right">
                        <a ng-click="model.updateWebsite(model.currentWebsite)"
                           class="pointer">
                            <span class="glyphicon glyphicon-ok header-color-white"></span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="row visible-xs">
            <div class="container-fluid bg-primary">
                <div class="col-sm-4">
                    <p class="navbar-text pull-left"><a href="website-list.view.client.html"><span class="glyphicon glyphicon-menu-left header-color-white"></span></a></p>
                    <a class="navbar-brand"><b class="header-color-white">Edit Website</b></a>
                </div>
                <div class="col-sm-offset-4 col-sm-4">
                    <p class="navbar-text pull-right">
                        <a ng-click="model.updateWebsite(model.currentWebsite)"
                           class="pointer">
                            <span class="glyphicon glyphicon-ok header-color-white"></span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </nav>

    <div>
        <div class="col-xs-0 col-sm-4 hidden-xs scrollable">
            <ul class="container-fluid list-group zero-right-padding">
                <li ng-repeat="website in model.websites"
                    class="list-group-item no-border zero-left-padding zero-right-padding">
                    <a ng-click="model.enlistPages(website)"
                       class="pointer">
                        {{website.name}}
                    </a>
                    <a ng-click="model.editWebsite(website)"
                       class="pointer pull-right">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="vertical-line hidden-xs"></div>

        <div class="col-xs-12 col-sm-8 pull-right">
            <div class="container-fluid profile-body">
                <form>
                    <div class="form-group">
                        <label for="websiteName">Website Name</label>
                        <input id="websiteName"
                               ng-model="model.currentWebsite.name"
                               type="text" class="form-control"
                               placeholder="Website Name" value="Blogger">
                    </div>
                    <div class="form-group">
                        <label for="websiteDescription">Website Description</label>
                        <textarea id="websiteDescription"
                                  ng-model="model.currentWebsite.description"
                                  class="form-control" rows="5"
                                  placeholder="Website Description">
                        </textarea>
                        <!--<textarea class="form-control" rows="5" id="websiteDescription" placeholder="Website Description">Blogger is a blog-publishing service that allows multi-user blogs with time-stamped entries. It was developed by Pyra Labs, which was bought by Google in 2003. Generally, the blogs are hosted by Google at a subdomain of blogspot.com. Blogs can also be hosted in the registered custom domain of the blogger (like www.example.com). A user can have up to 100 blogs per account.</textarea>-->
                    </div>
                </form>
                <a class="btn btn-danger btn-block"
                   href="website-list.view.client.html">Delete</a>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid navbar-footer bg-primary">
            <div class="row navbar-text navbar-right">
                <div class="col-xs-12 container text-center">
                    <a href="#/profile"><span class="glyphicon glyphicon-user footer-color-white pull-right"></span></a>
                </div>
            </div>
        </div>
    </nav>
</div>