input.form-control {
    margin-bottom: 5px;
}

body {
    padding-top: 36px;
}

.profile-body {
    margin-top: 20px;
    margin-bottom: 50px;
}

.header-color {
    color: white;
}

.footer-color {
    color: white;
}