<div>
    <div class="container">
        <h1>Register</h1>
        <input id="username"
               type="text"
               ng-model="model.username"
               class="form-control"
               placeholder="Username (Used for login)"/>
        <input id="firstName"
               type="text"
               ng-model="model.firstName"
               class="form-control"
               placeholder="First Name"/>
        <input id="lastName"
               type="text"
               ng-model="model.lastName"
               class="form-control"
               placeholder="Last Name"/>
        <input id="password1"
               type="password"
               ng-model="model.password1"
               class="form-control"
               placeholder="Password"/>
        <input id="password2"
               type="password"
               ng-model="model.password2"
               class="form-control"
               placeholder="Verify Password"/>
        <a ng-click="model.register(model.username, model.firstName, model.lastName, model.password1, model.password2)"
           class="btn btn-primary btn-block">Register</a>
        <a class="btn btn-danger btn-block"
           href="#/login">Cancel</a>
    </div>
</div>