<div>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid row">
            <div class="container-fluid">
                <p class="navbar-text pull-left">
                    <a ng-click="model.enlistWidgets()"
                       class="pointer">
                        <span class="glyphicon glyphicon-menu-left footer-color-black"></span>
                    </a>
                </p>
                <a class="navbar-brand">
                    <div ng-switch="model.widget.widgetType">
                        <div ng-switch-when="HEADER"><b>Edit Header Widget</b></div>
                        <div ng-switch-when="HTML"><b>Edit HTML Widget</b></div>
                        <div ng-switch-when="IMAGE"><b>Edit Image Widget</b></div>
                        <div ng-switch-when="YOUTUBE"><b>Edit YouTube Widget</b></div>
                    </div>
                </a>
                <p class="navbar-text pull-right">
                    <a ng-click="model.updateWidget()"
                       class="pointer">
                        <span class="glyphicon glyphicon-ok footer-color-black"></span>
                    </a>
                </p>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="form-class profile-body">
            <div ng-include="'views/widget/widget-'+model.widget.widgetType.toLowerCase()+'.view.client.html'">
            </div>
            <a ng-click="model.deleteWidget()"
               class="btn btn-danger btn-block">Delete</a>
        </div>
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid row">
            <div class="container-fluid">
                <p class="navbar-text pull-right">
                    <a ng-click="model.navigateToProfile()"
                       class="pointer">
                        <span class="glyphicon glyphicon-user"></span>
                    </a>
                </p>
            </div>
        </div>
    </nav>
</div>