<div>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid row">
            <div class="container-fluid">
                <p class="navbar-text pull-left">
                    <a ng-click="model.enlistWidgets()"
                       class="pointer">
                        <span class="glyphicon glyphicon-menu-left footer-color-black"></span>
                    </a>
                </p>
                <a class="navbar-brand" href="#"><b>Choose Widget</b></a>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="list-group profile-body">
            <a ng-click="model.addHeaderWidget()"
               class="pointer">
                <h5 class="list-cell-padding">Header</h5>
            </a>
            <a ng-click="model.addHtmlWidget()"
               class="pointer">
                <h5 class="list-cell-padding">HTML</h5>
            </a>
            <a ng-click="model.addImageWidget()"
               class="pointer">
                <h5 class="list-cell-padding">Image</h5>
            </a>
            <a ng-click="model.addYouTubeWidget()"
               class="pointer">
                <h5 class="list-cell-padding">YouTube</h5>
            </a>
        </div>
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid row">
            <div class="container-fluid">
                <p class="navbar-text pull-right">
                    <a ng-click="model.navigateToProfile()"
                       class="pointer">
                        <span class="glyphicon glyphicon-user"></span>
                    </a>
                </p>
            </div>
        </div>
    </nav>
</div>

<!--
<a href="widget-header.view.client.html">
    <h5 class="list-cell-padding">Header</h5>
</a>
<a href="#">
    <h5 class="list-cell-padding">Label</h5>
</a>
<a href="#">
    <h5 class="list-cell-padding">HTML</h5>
</a>
<a href="#">
    <h5 class="list-cell-padding">Text Input</h5>
</a>
<a href="#">
    <h5 class="list-cell-padding">Link</h5>
</a>
<a href="#">
    <h5 class="list-cell-padding">Button</h5>
</a>
<a href="widget-image.view.client.html">
    <h5 class="list-cell-padding">Image</h5>
</a>
<a href="widget-youtube.view.client.html">
    <h5 class="list-cell-padding">YouTube</h5>
</a>
<a href="#">
    <h5 class="list-cell-padding">Data Table</h5>
</a>
<a href="#">
    <h5 class="list-cell-padding">Repeater</h5>
</a>-->
